html{
	scroll-behavior: smooth;
}
.container-fluid{
	margin:0;
	padding:0;
	overflow:hidden;
}
/*-------------------------------Row-------------------------------*/
.row{
	background:#f2f2f2;
	color:#800080;
	width:100%;
	margin:0;
	height:50px;
}
.row p i{
	color:#333;
	margin:2px;
	font-size:18px;
	transition:2s;
}
.row p{
	position:relative;
	top:9px;
	left:40%;
	padding:5px;
	font-family:poppins;
}
.social-links {
  display: flex;
}

.social-links a {
    width: 41px;
    margin-right: 19px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 20px 10px rgb(0 0 0 / 5%);
    /* margin: 0 30px; */
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

.social-links a .fab {
  font-size: 15px;
  line-height: 40px;
  position: relative;
  z-index: 10;
  transition: color 0.5s;
}

.social-links a::after {
  content: '';
  width: 100%;
  height: 100%;
  top: -90px;
  left: 0;
  background: #000;
  background:linear-gradient(90deg, rgba(50,4,50,1) 0%, rgba(128,0,128,0.5242471988795518) 46%, rgba(222,44,222,0.639093137254902) 100%);
  position: absolute;
  transition: 0.5s;
}

.social-links a:hover::after {
  top: 0;
}

.social-links a:hover .fab {
  color: #fff;
}

.social-links a:hover {
  transform: translateY(-1px);
}

/*------------------------------- Menu -------------------------------*/
.logo{
	height:85px;
	width:85px;
}

.collapse .nav-item{
	padding: 0 7px;
	margin: -3px 26px;
	font-family:;
	font-size:;
}

.nav-item a i{
	color: #800080;
    font-size: 39px;
    margin: 2px;
    /* float: left; */
    display: block;
    text-align: center;
    padding: 0px;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8167a9;
	opacity: 0;
    transition: all 200ms linear;
}

.nav-item{
	position: relative;
    transition: all 200ms linear;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 0px;
  z-index: 999;
  /*filter: blur(10px);*/
  background-color:#fff;
  transition:0.5s;
}
.menu{	
	box-shadow: 0 1px 5px rgba(0, 0, 0,.2);
}
/*------------------------------- Line ---------------------------------*/
.line{
	width:30px;
	border:2px solid #bfbfbf;
	border-radius:5px;
	margin-top:10px;
}
/*-------------------------------heading--------------------------------*/
.heading{
	font-family:Roboto;
	color:#4d004d;
	text-align:center;
	margin:40px;
}
/*-------------------------------Carousel-------------------------------*/
.carousel-inner img{
	  width: 100vw;
   height: 100vh;
	overflow: hidden;
}
.carousel:before{
	/*width: 100vw;
    height: 80vh;
    background-size: cover;
	overflow: hidden;
	/*background: #12c2e9;  fallback for old browsers 
	background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);   Chrome 10-25, Safari 5.1-6 */
	/*background-image: linear-gradient(to right, #f64f59, #c471ed, #12c2e9),url( https://cdn.pixabay.com/photo/2016/11/22/18/52/cake-1850011_960_720.jpg ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	content: "";
  position: absolute;
   background-size: cover;
	overflow: hidden;  
  width: 100vw;
   height: 100vh;
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9,0.6);
	
}
.carousel{
  position: relative;
   width: 100vw;
   height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;	
}
/* ----------------------------------MAPS--------------------------------*/
.google_maps iframe{
	width:100%;  
}
.google_maps{
	position: relative;
	display:flex;
}
.google_maps:before{
	content: "";
	width:100%;
	background: rgb(76 64 64 / 55%);
	display: block;
	position: absolute;
	height:450px;
	top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.card img{
	float:left;
}
/*------------------- Form  ----------------------*/
.fill-form{
	text-align:center;
	margin:10px;
	padding:10px;
}
form input[type='text'],input[type='email'],input[type='number'],input[type='date'],select{
	border-radius:5px;
	border:1px solid #bfbfbf;
	font-family:poppins;
	font-size:15px;
	padding:9px 7px;
	width:30%;
	margin:15px;
	display:block;
}
.submit{
	font-size:18px;
	color:#fff;
	font-weight:2px;
	padding:5px;
	margin:9px;
	width:120px;
	border:1px solid #800080;
	border-radius:25px;
	background:linear-gradient(45deg, rgba(50,4,50,1) 0%, rgba(128,0,128,0.9220063025210083) 38%, rgba(222,44,222,0.639093137254902) 100%);
	transition:transform 2s;
	cursor: pointer;
}
.submit:hover{
	background:linear-gradient(0deg, rgba(50,4,50,1) 0%, rgba(128,0,128,0.9220063025210083) 38%, rgba(222,44,222,0.639093137254902) 100%);
	
}
/*Our Work*/
.our_work{
	padding:30px;
}
.content {
  position: relative;
  /*width: 90%;
  max-width: 400px;*/
  width:350px;
  margin: 15;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
  height:350px;
}
.c1{
	margin:0 40px;
	padding:0;
	display:inline-flex;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}
/*--------------------  footer  -------------------*/


/*FOOTER*/

footer {
  background: linear-gradient(90deg, rgba(50,4,50,1) 0%, rgba(128,0,128,0.5914740896358543) 46%, rgba(222,44,222,0.639093137254902) 100%);color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 14px;
  font-family:poppins;
  padding: 10px;
  border-top: 1px solid #fff;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}
.row1{
	margin:5px;
}
.f1 col-md-4{
	width:120px;
}
/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}

.f2{
	margin:0;
	padding:0;
	display: inline-grid;
}
